@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

/*----------------------*/

.maintitle {
    font-size: 32px;
}
.mainprice {
    font-size: 28px;
}
.normal {
    font-size: 12px;
}
.medio {
    font-size: 18px;
}
.blogtitle {
    font-size: 14px;
}
.texts {
    font-size: 8px;
}
.negrita {
    font-weight: 800;
}

.amarillo {
    color: #F7B63B;
} 
.azul {
    color: #0051A1;
} 
.negro {
    color: #000000;
} 
.rojo {
    color:#FF0000;
} 
.blanco {
    color: #FFF;
}
.verde {
    color: green;
}
.bloque {
    display: block;
}
.sombra {
    text-shadow: 1px 1px 2px #000;
}
.derecha {
    float: right;
}
.inline {
    display: inline-block;
}
.alineal {
    float: left;
    margin-right: 4px;
}
.izquierda {
    width: 100%;
    text-align: left;
    padding: 0.5em;
}
.encima {
    padding-top: 3em;
}
.espacio {
    height: 1em;    
}
/*----------------------*/

/* SMARTPHONE */

@media (max-width: 375px) {
    body {    
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;  
    }
    main {
        margin: 0 auto;
        width: 100%;
        height: 750px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        overflow-y: auto;
    }
    #content {
        z-index: 2;
        text-align: center;
        position: relative;
    }
    nav {    
        width: 375px;
        height: 40px;
        position: fixed;
        bottom: 0;
        margin-left: 0;
        background-color: #FFF;
        -webkit-box-shadow: 0px -2px 18px -5px rgba(0,0,0,0.41);
        -moz-box-shadow: 0px -2px 18px -5px rgba(0,0,0,0.41);
        box-shadow: 0px -2px 18px -5px rgba(0,0,0,0.41);
    }
    .menuitems {
        display: flex;
        list-style: none;
        width: 375px;
        flex-wrap: wrap;
        align-content: space-between;
        padding: 0;
        margin-top: 0.5em;
    }
    .menuitems li {
        width: 17%;
        text-align: center;
    }
    .menuitems li a {
        color: #000;
    }
    .mainicon {
        font-size: 1.5em;
    }
    [data-notifications] {
        position: relative;
    }
    
    [data-notifications]:after {
        content: attr(data-notifications);
        position: absolute;
        background: red;
        border-radius: 100%;
        display: inline-block;
        padding: 0.5em;
        padding-top: 0;
        color: #FFF;
        right: -0.3em;
        top: -15px;
        font-size: 0.6em;
        font-weight: bold;
        box-shadow: 1px 1px #000;
        width: 0.6em;
        height: 1em;
    }
    .brand {
        position: fixed;
        margin: 0 auto;
        width: 100px;
        margin-left: 100px;
        height: auto;
        padding: 0.5em;
        background-color: #FFF;
        box-shadow: 0px 0px 3px #666;
        z-index: 4;
    }
    .brand img {
        width: 100%;
    }
    header {
        width: 375px;
        height: 220px;
        overflow: hidden;
        background: url('img/maldivas-playa-paraiso.jpg');
        background-size: 100%;
    }
    .mainpromo {
        position: relative;
        text-align: right;
        margin-top: 90px;
        left: 10px;
        width: 170px;
        height: 130px;
        background: rgba(255,255,255,0.6);
        padding: 0.2em;
    }
    .iconos {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .mainpic {
        width: 100%;
        height: 150px;     
        display: block;
    }
    .mainpictitle {
        text-align: right;
        position: relative;
        padding: 0.5em;
        float: right;
        top: 5em;
        background-color: rgba(0,0,0,0.6);
    }
    .justificado {
        text-align: justify;
        padding: 1em;
        display: block;
        margin-top: 0;
        margin-bottom: 0;
    }
    .bordeadocurvo {
        border-radius: 0.8em;
        border: solid 1px #ccc;
        padding: 0.2em;
        margin-right: 1em;
        background-color: #FFF;
    }
    .margenderecha {
        margin-right: 1em;
    }
    .margenizquierda {
        margin-left: 1em;
    }
    .acomodartop {
        margin-top: 0.2em;
    }
    .bordefinal {
        border-bottom: solid 1px #ccc;
    }
    .listafichas {
        width: 96%;
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .fichasec {
        width: 150px;
        height: auto;
        border: solid 1px #ccc;
        float: left;
    }
    .mainpic_little {
        width: 100%;
        height: 70px;     
        display: block;
    }
    .secondpictitle {
        text-align: right;
        position: relative;
        float: right;
        padding: 1em;
    }
    .bottomspace {
        position: relative;
        width: 100%;
        height: 80px;
    }
    .tinypic {
        width: 100%;
        height: 80px;     
        display: block;
    }
    .tinypictitle {
        text-align: right;
        position: relative;
        padding: 1em;
        float: right;
        top: -3em;
        background-color: rgba(0,0,0,0.6);
    }
}

/* DESKTOP */

@media (min-width: 1024px) {
    body {    
        padding-top: 0.5em;
        font-family: 'Montserrat', sans-serif;  
    }
    main {
        margin: 0 auto;
        width: 375px;
        height: 750px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        overflow-y: auto;
        border: solid 1px #666;
    }
    #content {
        z-index: 2;
        text-align: center;
        position: relative;
    }
    nav {    
        width: 375px;
        height: 40px;
        position: fixed;
        bottom: 23px;
        margin-left: 0;
        background-color: #FFF;
        -webkit-box-shadow: 0px -2px 18px -5px rgba(0,0,0,0.41);
        -moz-box-shadow: 0px -2px 18px -5px rgba(0,0,0,0.41);
        box-shadow: 0px -2px 18px -5px rgba(0,0,0,0.41);
    }
    .menuitems {
        display: flex;
        list-style: none;
        width: 375px;
        flex-wrap: wrap;
        align-content: space-between;
        padding: 0;
        margin-top: 0.5em;
    }
    .menuitems li {
        width: 75px;
        text-align: center;
    }
    .menuitems li a {
        color: #000;
    }
    .mainicon {
        font-size: 1.5em;
    }
    [data-notifications] {
        position: relative;
    }
    
    [data-notifications]:after {
        content: attr(data-notifications);
        position: absolute;
        background: red;
        border-radius: 100%;
        display: inline-block;
        padding: 0.5em;
        padding-top: 0;
        color: #FFF;
        right: -0.3em;
        top: -15px;
        font-size: 0.6em;
        font-weight: bold;
        box-shadow: 1px 1px #000;
        width: 0.6em;
        height: 1em;
    }
    .brand {
        position: fixed;
        margin: 0 auto;
        width: 100px;
        margin-left: 130px;
        height: auto;
        padding: 0.5em;
        background-color: #FFF;
        box-shadow: 0px 0px 3px #666;
        z-index: 4;
    }
    .brand img {
        width: 100%;
    }
    header {
        width: 375px;
        height: 220px;
        overflow: hidden;
        background: url('img/maldivas-playa-paraiso.jpg');
        background-size: 100%;
    }
    .mainpromo {
        position: relative;
        text-align: right;
        margin-top: 90px;
        left: 10px;
        width: 170px;
        height: 130px;
        background: rgba(255,255,255,0.6);
        padding: 0.2em;
    }
    .iconos {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .mainpic {
        width: 100%;
        height: 170px;     
        display: block;
    }
    .mainpictitle {
        text-align: right;
        position: relative;
        padding: 1em;
        float: right;
        top: 6em;
        background-color: rgba(0,0,0,0.6);
    }
    .justificado {
        text-align: justify;
        padding: 1em;
        display: block;
        margin-top: 0;
        margin-bottom: 0;
    }
    .bordeadocurvo {
        border-radius: 0.8em;
        border: solid 1px #ccc;
        padding: 0.2em;
        margin-right: 1em;
        background-color: #FFF;
    }
    .margenderecha {
        margin-right: 1em;
    }
    .margenizquierda {
        margin-left: 1em;
    }
    .acomodartop {
        margin-top: 0.2em;
    }
    .bordefinal {
        border-bottom: solid 1px #ccc;
    }
    .listafichas {
        width: 96%;
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .fichasec {
        width: 150px;
        height: auto;
        border: solid 1px #ccc;
        float: left;
    }
    .mainpic_little {
        width: 100%;
        height: 70px;     
        display: block;
    }
    .secondpictitle {
        text-align: right;
        position: relative;
        float: right;
        padding: 1em;
    }
    .bottomspace {
        position: relative;
        width: 100%;
        height: 80px;
    }
    .tinypic {
        width: 100%;
        height: 80px;     
        display: block;
    }
    .tinypictitle {
        text-align: right;
        position: relative;
        padding: 1em;
        float: right;
        top: -3em;
        background-color: rgba(0,0,0,0.6);
    }
}